<!DOCTYPE html>
<html>
<head>
    <title>未解之谜</title>
    <link rel='stylesheet' href='/stylesheets/admin.css'/>
    <script src="../javascripts/jquery.js"></script>
</head>
<body>
<div class="admin_left_menu">
    <ul>
        <li><a data-src="/admin/list">列表</a></li>
        <li><a data-src="/admin/add">添加</a></li>
        <li><a data-src="/admin/recommend">首页推荐</a></li>
    </ul>
</div>
<div class="admin_right">
    <iframe src="/admin/list" >

    </iframe>
</div>
</body>
<script>
    $(function(){
        $('.admin_left_menu a').click(function(){
            var src = $(this).attr('data-src');
            $('.admin_right iframe').attr('src',src);
        })
    })
</script>
</html>
