<!DOCTYPE html>
<html>
<head>
    <meta name="ujianVerification" content="e1fbfb0c2d8a419a8a1a6831e8c863c0" />
    <title>未解之谜</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="./javascripts/jquery.js" type="text/javascript"></script>
    <script src="./javascripts/common.js" type="text/javascript"></script>
    <script src="./javascripts/uslider.js"></script>
    <% include static.ejs %>
</head>
<body>
<% include head.ejs %>
<div class="body">
    <div class="body-content">
        <div class="banner">
            <ul id="slider">

            </ul>
        </div>
        <div class="body-content-list">
            <ul class="list-content" id="list_start">

            </ul>
        </div>
        <div class="body-content-pagination">

        </div>
        <div class="body-content-rank">
            <% include rank.ejs%>
        </div>
    </div>
</div>
<div class="footer">

</div>
</body>
<% include foot.ejs %>
<script>
    $(function () {
        function getIndexArticle(offset) {
            getArticle('', offset, 8, function (data) {
                pagination(data.meta, $('.body-content-pagination'));
                $('#list_start').html('');
                data.list.forEach(function (item) {
                    $('#list_start').append('<li>\
                    <a href="/article/info/' + item._id + '" target="_blank">\
                    <img src="/upload/images/' + item.cover + '.jpg">\
                    </a>\
            <div class="body-content-list-right">\
                    <a href="/article/info/' + item._id + '" target="_blank">\
                    <h3>' + item.title + '</h3>\
            </a>\
            <p>' + item.summary + '</p>\
            </div>\
            </li>')
                });
            });
        }

        getIndexArticle(0);
        $('.body-content-pagination').on('click', 'a', function () {
            var num = $(this).attr('data-num');
            var current = $('.body-content-pagination a.current').attr('data-num');
            if (num == 'prev') {
                getIndexArticle((current - 2) * 8);
            } else if (num == 'next') {
                getIndexArticle(current * 8);
            } else {
                getIndexArticle((num-1) * 8)
            }
        });

        $.ajax({
            url:'/recommend/slider',
            type:'get',
            success:function(data){
                $('#slider').html('');
                data.forEach(function(item){
                   $('#slider').append('<li><a href="'+item.url+'" target="_blank"><img src="/file/image/'+item.img+'"><p>'+item.title+'</p></a></li>')
                });
                $('.banner').unslider({
                    speed: 500,
                    delay: 3000,
                    dots: true
                });
            }
        })
    })
</script>
</html>

