<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include head.ejs %>
<div class="body">
    <div class="body-content">
        <div class="body-content-title">
            <h2><%- title %></h2>
        </div>
        <div class="body-content-main">
            <%- main %>
        </div>
    </div>
</div>
<div class="footer">

</div>
</body>
</html>
