<!DOCTYPE html>
<html>
<head>
    <title>世界未解之谜<%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include head.ejs %>
<div class="body">
    <div class="body-content">
        <div class="body-content-title">
            <h1><%- title %></h1>
        </div>
        <div class="body-content-main">
            <%- main %>
        </div>
    </div>
</div>
<div class="footer">

</div>
</body>
<% include foot.ejs %>
</html>
