<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include head.ejs %>
<div class="body">
    <div class="body-content">
        <div class="body-content-title">
            <h2>房屋不倒之谜探讨</h2>
        </div>
        <div class="body-content-main">
            大家先不要急着找反例子，因为这是根本的抬杠想法，谁都有。就比如我们上学时教的“以子之矛攻子之盾”，就是教育我们要找茬抬杠的……
            好了，回归正题。大部分情况都是如此，一般情况下，闲置的老旧破房子没人住，过短时间就会自己倒塌。这是为什么呢？
            是因为没人住，所以有了“外人”的居住呢？还是说被平行世界的人利用去了？还是说物质与反物质找到了交锋的战场？
            这确实不好说。但是我感觉人的感觉还是起到很大作用的。比如，感觉房子漏风，不暖和，就会想办法找找原因，弄点东西补上之类的，漏雨的瓦换上。这应该是最主要的原因，这样的话就保证了不会“溃于蚁穴”。如果没人照顾，那就由小变大了。
        </div>
    </div>
</div>
<div class="footer">

</div>
</body>
</html>
