<div>
    <h3 class="rank-title">热点<span></span></h3>
    <div class="rank-nav">
        <a class="selected">最新</a>
        <a>最热</a>
    </div>
    <ul id="new">
        <!--<li>-->
            <!--<a>-->
                <!--<img src="./images/thum-7ec41355150537.jpg">-->
                <!--<p>最新列表最新列表最新列表最新列表最新列表最新列表</p>-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>最新列表</li>-->
        <!--<li>最新列表</li>-->
        <!--<li>最新列表</li>-->
        <!--<li>最新列表</li>-->
    </ul>
    <ul id="hot">
        <!--<li>最热列表</li>-->
        <!--<li>最热列表</li>-->
        <!--<li>最热列表</li>-->
        <!--<li>最热列表</li>-->
        <!--<li>最热列表</li>-->
        <!--<li>最热列表</li>-->
    </ul>
</div>